{% extends 'base.html.twig' %}

{% block title %}Mettre à jour un épisode{% endblock %}

{% block body %}
    <h1>Mettre à jour un épisode</h1>

    <div class="md-form-block">
        {{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <br>

    {{ include('episode/_delete_form.html.twig') }}

    <br>

    <a href="{{ path('episode_index') }}">Retour à la liste</a>

{% endblock %}
