{% extends 'base.html.twig' %}

{% block title %}Mettre à jour un season{% endblock %}

{% block body %}
    <h1>Mettre à jour un season</h1>

    <div class="md-form-block">
        {{ include('season/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <br>

    {{ include('season/_delete_form.html.twig') }}

    <br>

    <a href="{{ path('season_index') }}">Retour à la liste</a>

{% endblock %}
