{% extends 'base.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}
    <h1>Ajouter un acteur</h1>

    <div class="md-form-block">
        {{ include('actor/_form.html.twig') }}
    </div>
    <br>
    <a href="{{ path('actor_index') }}">Retour à la liste</a>
{% endblock %}
